* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.container {
    border: 2px solid black;
    height: 500px;
    /* position: absolute; */
    background: url(./artur-aldyrkhanov-u159a2eL6UE-unsplash.jpg) no-repeat center center/cover;
}


.social-icons {
    display: flex;
    color: white;
    list-style: none;
    margin: 30px;
    padding: 10px;
    justify-content: space-around;
}

.contain-header {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding: 30px;
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;

}

.print-button {
    display: flex;
    border: 2px solid lightgray;
    border-radius: 20px;
    justify-content: space-between;
    width: 160px;
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
    background-color: grey;
    
    margin-left: 50px;
    margin-bottom: 80px;
    font-size: 15px;
}

.navbar {
    position: sticky;
    top: 10px;
    display: flex;
    flex-direction: row;
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: space-between;
    width: 1240px;
    padding: 10px;
}

.tab-1,
.tab-2 {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    /* width: 300px; */

}

.image {
    position: absolute;
    left: 600px;
    top: 10px;
    display: block;
    border: 2px solid black;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    overflow: hidden;
    animation: cubic-bezier(1, 0, 0, 1);
    
}

.info,
.info-end {

    width: 400px;
    display: flex;
    font-size: 20px;
    font-weight: bolder;
    
    justify-content: space-between;
    padding: 20px;
}

.about {
    display: flex;
    border: 2px solid black;
    height: 400px;
    justify-content: space-between;
}

.information {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: 33.3%;
    text-align: center;
    justify-content: center;
    margin-right: 10px;
    box-shadow: 10px 10px 5px rgb(6, 4, 4);
    background-color: rgb(255, 209, 209);
}

.info1 {
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding: 20px;

}

.detail {
    display: flex;
    padding: 80px;
}

#resume {

    height: 600px;
}

.resume {
    display: flex;
    margin-bottom: 40px;
}

.s-l {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
}

.info2 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.details {

    display: flex;
    padding: 40px;

}

.part {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 40px;
    /* border: 2px solid black; */
    height: 200px;
    background-color: grey;
}

.p1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;

    padding: 50px;
    width: 200px;
    height: 100px;

}

/* BLOGS SECTION */

.blogs{
    display: flex;
    

}


.contact-details {
    display: flex;
    justify-content: center;
}

.contact-details-1 {
    margin-top: 30px;
    display: flex;
    padding: 30px;
    /* border: 2px solid red; */
    height: 500px;
    width: 1100px;

}

.cd-2 {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    background-color: rgb(188, 244, 241);

    text-align: center;
    justify-content: center;
    margin-right: 10px;
    box-shadow: 10px 10px 5px rgb(6, 4, 4);
}

.form-values {
    padding: 20px;
    display: flex;
    border: 1px solid grey;
    width: 500px;
    height: 15px;
}

.contact-detail {
    display: flex;
    flex-direction: column;
    padding: 50px;

}

.form-tags {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.names {
    padding: 20px;
}

.blogs{
    display: flex;
    border: 1px solid red;
    margin: 70px;
    height: 500px;
}

.blog-sections{
    display: flex;
}

.blog-part-1{
    border: 1px solid rgb(236, 89, 89);
    margin-left: 200px;
    height: 400px;
    width: 300px;
}