* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    flex-wrap: row-wrap;
}

/* .container-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    
    opacity: 0.5;
    height: 500px;
    border: 2px solid black;
    background: url(./bg-one.jpg) no-repeat center center/cover;
} */

.container-1 {
    border: 2px solid black;
    height: 590px;

    /* position: absolute; */
    background: url(./bg-one.jpg) no-repeat center center/cover;
}


.social-icons {
    display: flex;
    color: white;
    list-style: none;
    margin: 30px;
    padding: 10px;
    justify-content: space-around;
}

.contain-header {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding: 30px;
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;

}

p {
    font-size: 20px;
}

h1{
    font-size: 35px;
}

a:hover{

    color: rgb(115, 33, 33);
    text-decoration: none;
}

a:link {
    color: rgb(37, 28, 28);
    text-decoration: none;
}

/* visited link */
a:visited {
    color: rgb(47, 30, 30);
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: rgb(120, 105, 255);
    text-decoration: none;
}

/* selected link */
a:active {
    color: blue;
    text-decoration: none;
}

.print-button {
    display: flex;
    /* border: 2px solid rgb(131, 34, 34); */
    border-radius: 20px;
    justify-content: space-between;
    width: 160px;
    padding: 15px;
    font-weight: bolder;
    font-size: 25px;
    background-color: rgb(240, 68, 68);

    margin-left: 80px;
    margin-bottom: 80px;
    font-size: 10px;
}

.navi-navbar {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: space-between;
    width: 1240px;
    padding: 10px;
}

.tab-1,
.tab-2 {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    /* width: 300px; */

}

.image {
    position: absolute;
    left: 600px;
    top: 10px;
    display: block;
    border: 2px solid black;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    overflow: hidden;

}

.info,
.info-end {

    width: 400px;
    display: flex;
    font-size: 20px;
    font-weight: bolder;

    justify-content: space-between;
    padding: 20px;
}

.about {
    display: flex;
    border: 2px solid black;
    height: 400px;
    justify-content: space-between;
}

.information {
    display: flex;
    
    flex-direction: column;
    border: 1px solid grey;
    width: 33.3%;
    text-align: center;
    justify-content: center;
    margin-right: 10px;
    box-shadow: 10px 10px 5px rgb(6, 4, 4);
    background-color: rgb(255, 209, 209);
}

.info1 {
    display: flex;
    
    font-size: 30px;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.detail {
    display: flex;
    
    padding: 80px;
}

#resume {

    height: 600px;
}

.resume {
    display: flex;
    
    margin-bottom: 40px;
}

.s-l {
    display: flex;
    flex-direction: column;
    
    margin-top: -3px;
}

.info2 {
    font-size: 25px;
    display: flex;
    
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}

.details {

    display: flex;
    padding: 40px;

}

.part {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 75px;
    /* border: 2px solid black; */
    height: 200px;
    background-color: grey;
}

.p1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    padding: 50px;
    width: 200px;
    height: 100px;

}

/* BLOGS SECTION */

.blogs {
    display: flex;
}


.contact-details {
    display: flex;
    justify-content: center;
}

.contact-details-1 {
    margin-top: 30px;
    display: flex;
    padding: 30px;
    /* border: 2px solid red; */
    height: 500px;
    width: 1100px;

}

.cd-2 {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    background-color: rgb(188, 244, 241);
    text-align: center;
    justify-content: center;
    margin-right: 10px;
    box-shadow: 10px 10px 5px rgb(6, 4, 4);
}

.form-values {
    align-items: center;
    padding: 20px;
    display: flex;
    /* border: 1px solid grey; */
    width: 500px;
    height: 15px;
}

.contact-detail {
    display: flex;
    flex-wrap: row-wrap;
    flex-direction: column;
    padding: 50px;

}

.form-tags {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.form-submit {
    display: flex;
    border: 2px solid rgb(17, 14, 14);
    border-radius: 20px;
    justify-content: center;
    /* width: 70px; */
    padding: 10px;
    font-weight: bolder;
    font-size: 25px;
    background-color: rgb(44, 113, 129);

    margin-left: 545px;
    margin-bottom: 80px;
    font-size: 10px;
} 

.names {
    padding: 20px;
}

.blogs {
    display: flex;
    /* border: 1px solid red; */
    margin: 68px;
    height: 595px;
    /* justify-content: center; */
    align-items: center;
}

.blog-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    /* flex-direction: column;
    border: 1px solid grey;
    
    text-align: center;
    justify-content: center;
    margin-right: 10px;
    box-shadow: 10px 10px 5px rgb(6, 4, 4);
    background-color: rgb(255, 209, 209); */
}

.blog-part-1 {
    /* border: 1px solid rgb(236, 89, 89); */
    margin-left: 30px;
    height: 70px;
    width: 500px;
    text-align: left;
    border-radius: 10px;
    /* box-shadow: 10px 10px 5px rgb(6, 4, 4); */
}

.blog-part-2 {
    display: flex;
    /* border: 1px solid rgb(236, 89, 89); */
    height: 400px;
    width: 1017px;
    margin: 33px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(6, 4, 4);
}

.information-blogs {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: 48.3%;
    text-align: center;
    justify-content: center;
    margin: 20px;
    box-shadow: 10px 10px 5px rgb(6, 4, 4);
    background-color: rgb(195, 249, 219);
}

.blog-topic {
    /* border: 1px solid black; */
    height: 50px;
    width: auto;
    text-align: center;
    margin: 20px;
    margin-left: 40px;
}

.blog-content {
    /* border: 1px solid black; */
    height: auto;
    margin: 40px;
    text-align: center;
}

.details-tag{
    display: flex;
}

input[type=text],
input[type=email]{
    border: 2px solid cyan;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgb(115, 183, 198);
    border-radius: 10px;
}

input[type=button]{
    /* display: flex; */
    /* flex-wrap: row-wrap; */
    /* border: 2px solid rgb(17, 14, 14); */
    border-radius: 20px;
    
    cursor: pointer;
    /* width: 70px; */
    padding: 10px;
    font-weight: bolder;
    font-size: 25px;
    background-color: rgb(44, 113, 129);
    font-size: 10px;
}
